.section-postado{
    width: 100%;
}
.postado{
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-color: #ffffff;
    align-items:center;
    
 }
.form-postado{
    background-color: #fff;
    border-radius: 5px;
    width: 70%;
    border: 1px solid rgb(226, 226, 226);
    padding: 2%;
 }
 .conjPost{
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 50%; 
   padding: 0.3rem; 
 }
 .botaoCurtir,
 .botaoEditar,
 .botaoDeletar{
    width: 20%;
    background-color: #fff;
    border: none;
 }
 .botaoCurtir img{
    width: 20%;
    height: 20%;
    padding: 5px;
 }
 .botaoCurtir:hover,
 .botaoDeletar:hover,
 .botaoEditar:hover{
   background-color: #20a2b8;
   cursor: pointer;
 }
 @media only screen and (min-width: 600px) {
    .form-postado{
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        width: 40%;
     }
     .postado{
        width: 68.4%;
        display: flex;
        padding: 20px;
        flex-direction: column;
        background-color: #ffffff;
        align-items:center;  
     }
 }
 